{% extends 'base.html' %}
{% block title %}
	<title>About Appengine|Django|Python - JIEblog System</title>
	<meta name="Keywords" content="blzinsider,jieblog,django,Gae,python,google app engine"/>
	<meta name="description" content="关于Google App Engine、Django、Python和其他技术的程序备忘录" />

{% endblock %}

{% block contents %}

	<div id="sider-bar">
		{% include 'sider-bar.html'%}
	</div>
	
	<div id="main-bar">
	
		<div id="nav">

			<ul id='menu'>
				<li class="current-page "><a href='/' title='Home'>Home</a></li>
				<li class="not-current-page">{{greeting}}</li>
				<li class="not-current-page"><a href='http://feeds.feedburner.com/sirenengine' title='RSS'>RSS</a></li>			
			</ul>

		</div>
		{% for post in posts %}
			{% include 'post.html' %}
		{% endfor %}

		<div id="paginate">
		
			{% ifequal blog_view 'page' %}

				{% if show_prev %}

					<span id="prev" class="paginate-button"><a href="/{{blog_view}}/{{ prev }}">PREV</a></span>

				{% endif %}


				{% for i in pages %}
					{% ifequal i page %}
						{{ i }}
					{% else %}
						<a href="/{{blog_view}}/{{ i }}">{{ i }}</a>
					{% endifequal %}
				{% endfor %}



				{% if show_next %}

					<span id="next" class="paginate-button"><a href="/{{blog_view}}/{{ next }}">NEXT</a></span>

				{% endif %}

			{% else %}


				{% if show_prev %}

					<span id="prev" class="paginate-button"><a href="/{{blog_view}}/{{blog_slug}}/{{ prev }}">PREV</a></span>

				{% endif %}


				{% for i in pages %}
					{% ifequal i page %}
						{{ i }}
					{% else %}
						<a href="/{{blog_view}}/{{blog_slug}}/{{ i }}">{{ i }}</a>
					{% endifequal %}
				{% endfor %}

				

				{% if show_next %}

					<span id="next" class="paginate-button"><a href="/{{blog_view}}/{{blog_slug}}/{{ next }}">NEXT</a></span>

				{% endif %}
				
			{% endifequal  %}
			
			

		</div>
		
	</div>

{% endblock %}