{% extends 'base.html' %}
{% block title %}
{% load filter %}
<title>{{post.title}} - JIEblog</title>
<meta name="Keywords" content="{% for tag in post.tags %}{{tag}},{% endfor %}" />
<meta name="description" content='{{post.content|striptags|gendes:100}}' />
{% endblock %}

{% block contents %}

	<div id="side">
		{% include 'single-side.html'%}
	</div>

	<div id="main">

		{% include 'post.html'%}
		<div id="commenting">
			<div id="comments">
				{% for comment in comments %}
					{% include 'comment.html'%}
				{% endfor %}
			</div>
	
			<div id="comment-bar-form">
				<div class="widget">
					<div id="comments-form">
					<div class="widget-content">
						<form action="." method="post">
						{{commentform.as_ul}}
						<input type="submit" name="commentpost" value="Submit" />
						</form>	
					</div>
					</div>
				</div>
			</div>
		</div>

	</div>



{% endblock %}