<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>JIEblog-admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/AdminCss.css" />
	{% block title %}{% endblock %}
</head>
<body>
	<div id="container">
		{% block contents %}{% endblock%}
		<div id="bottom">
			<h4 id="copyright">Copyright © 2008 JIEblog Powered by Google Appengine | Designed by lucidanui</h4>
		</div>
	</div>
</body>
</html>