{% extends 'AdminBase.html' %}
{% block contents %}
<div id="side">
{% include 'AdminSide.html' %}
	<div class="widget" id="navigate">
		<h3>Navigate</h3>
		<ul id='menu'>
			<li class="current-page "><a href='/admin/create' title='Create Post'>Create Post</a></li>
			<li class="not-current"><a href='/admin/config' title='Site Config'>Site Config</a></li>
			<li class="not-current"><a href='/admin/manage' title='Post Manage'>Post Manage</a></li>
		</ul>
	</div>
</div>
<div id="main">
	{% include 'AdminPost.html'%}
</div>
{% endblock%}