{% extends 'AdminBase.html' %}
{% block contents %}
<div id="side">
{% include 'AdminSide.html' %}
	<div class="widget" id="navigate">
		<h3>Navigate</h3>
		<ul id='menu'>
			<li class="not-current"><a href='/admin/create' title='Create Post'>Create Post</a></li>
			<li class="current-page"><a href='/admin/config' title='Site Config'>Site Config</a></li>
			<li class="not-current"><a href='/admin/manage' title='Post Manage'>Post Manage</a></li>
		</ul>
	</div>
</div>
<div id="main">
	<div id='main-form'>
		<form action="." method="post" id="siteform">
			{{siteform.as_p}}
			<input type="submit" name="submit" value="Submit" id="submit"/>
		</form>
	</div>
</div>
{% endblock%}