@charset "utf-8";
body {
  margin:0; 
  padding:0;
}
html {
  margin:0; 
  padding:0;
}
a:link { color: #0000cc; }


.widget { 
  float:right;
  width:200px;
  height:400px;
  margin:5px;
  -moz-border-radius: 6px 6px 6px 6px;
  border:1px solid #fff;
  padding:10px;
  }
#base-title {
  text-align:center;
  background-color: #000;
  margin:0px;
  padding: 0px;
}
#container {
  width:900px;
  margin-left:auto;
  margin-right:auto;
  background-color:#a2bae7;
  padding:3px;
  top:0px;
  -moz-border-radius: 10px 10px 10px 10px;
}


#post-form {
  width:642px;
}
#main {
  background-color:#d4e4ff;
  padding:10px;
  -moz-border-radius: 10px 10px 10px 10px;
  }
#id_title {
  width:636px;
  height:20px;
  font-size:13px;
  font-family: 'Trebuchet MS',Tahoma,Verdana,'Microsoft YaHei';
}
#id_tags {
  width:636px;
  height:20px;
  font-size:13px;
  font-family: 'Trebuchet MS',Tahoma,Verdana,'Microsoft YaHei';
}
label {
  font-size:13px;
  font-family: 'Trebuchet MS',Tahoma,Verdana,'Microsoft YaHei';
  font-weight:bold;
}

#form1 li{
  list-style:none;
}
#post-form-button {
  margin-top:10px;
}
#submit {
  width:100px;
  height:28px;
  font-size:13px;
  font-family: 'Trebuchet MS',Tahoma,Verdana,'Microsoft YaHei';
  font-weight:bold;
  color:#a2bae7;
  border:1px solid #a2bae7;
}
#submit:hover {
  background-color:#a2bae7;
  color:#fff;
}
#menu li{
  float:left;
  list-style:none;
  padding:2px 10px 2px 10px;
  margin-right:5px;
  font-family: 'Trebuchet MS',Tahoma,Verdana,'Microsoft YaHei';
}

#menu a:hover {
  color:#fff;
}

#menu {
  margin:0px;
  padding:0px;
  height:20px;
  margin-left:15px;
}
#menu a {
  text-decoration:none;
  color:#5a6986;
}
.current_page_li {
  background-color: #d4e4ff;
  font-weight:bold;
  font-size:13px;
  -moz-border-radius: 6px 6px 0 0;
}
.page_li {
  font-size:12px;
}
.box {
  height:500px;
}

#postlist { margin: 1em 0.5em; 
            font-size:11px;
            font-family: 'Trebuchet MS',Tahoma,Verdana,'Microsoft YaHei';
            border:1px solid #fff;
            }
#postlist th { background-color: #fff; }
#postlist th, #postlist td { padding: 2px; }
.even { background-color: #fff; }
#postlist a {
  text-decoration:none;
}
#postlist a:hover {
  text-decoration:underline;
}