body {
	margin: 0; 
	padding: 0;
	background-color: #4d5061;
}

pre.prettyprint{
	font-size: 11px;
	line-height: 14px;
	border-left: 3px solid #7755aa;
	background-color: #eeeeff;
}

.error_me {
	color: #fff;
	font-size: 18px;
	text-align: center;
}


blockquote {
	font-size: 11px;
	font-style: italic;
	border-left: 3px solid #58bf2f;
	background-color: #eeffee;
	padding: 5px;
	margin: 10px;
}


#text_quo {
	font-size: 11px;
}

#header {
	height: 100px;
	text-align: center;
	width: auto;
	font-size: 100%;
	background-color: #729fcf;
	background-image: url(/icons/top.gif);
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-top-left-radius: 10px 10px;
	-webkit-border-top-right-radius: 10px 10px;
}

#header img{
	padding: 0;
	margin: 0;
}

#article-list{
	margin-right: 15px;
}

#article-list ul{
	margin: 0;
	padding: 0;
}

#article-list li{
	float: right;
	list-style: none;	
	background-color: #a2bae7;
	padding: 0px 5px 0px 5px;
	margin-right: 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

#article-list a {
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
}

#article-list li:hover {
	background-color: #c3d9ff;
}

#blog-title a{
	text-decoration: none;
	color: #fff;
	font-family: 'Arial Black',Arial;
	font-weight: bold;
	font-size: 16px;
}

#blog-title {
	text-align: center;
	clear:both;
}

#header-title a {
	font-weight: bold;
}

#header a:hover {
	color: #3399ff;
}

.post {
	width: 520px;	
	text-align: left;	
	margin-bottom: 20px;
/*	border: 1px solid #a4c5ff;   */
}

.post img {
	margin: 4px;
}

#container {
	width: 960px;	
	margin-left: auto;
	margin-right: auto;
	background-color: #c3d9ff;
	border: 2px solid #fff;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-bottom-left-radius: 10px 10px; 
	-webkit-border-bottom-right-radius: 10px 10px;
	-webkit-border-top-left-radius: 10px 10px; 
	-webkit-border-top-right-radius: 10px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#bottom {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 11px;
	color: #fff;
	height: 35px;
	clear: both;
}

.post-title {
	font-weight: bolder;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
}

.post-title a {
	color: #000;
}

.post-title a:visited {
	color:  #4c4c4c;
}

a:visited {
	color: #3399ff;
}
.post-content {
	padding: 10px;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: 0.5px;
	font-family: 'Trebuchet MS',Tahoma,Verdana,'Microsoft YaHei';
}

.post-tags {
	margin-left: 10px;
}

.post-tags a{
	font-size: 10px;
	color: #fff;
	font-weight: bold;
}

.post-tags a:hover{
	color: #729fcf;
	text-decoration: none;
}


.icons {
	position: relative;
	top: 5px;
}

.post-info {
	font-size: 11px;
	color: #666;
	padding-left: 10px;
	background-color: #a2bae7;
	font-family: 'Trebuchet MS',Tahoma,Verdana,'Microsoft YaHei';
	height: 20px;
	padding-top: 4px;
}

.post-time {
	background: url(/icons/25.png) no-repeat;
	padding-left: 18px;
}

.post-author {
	background: url(/icons/37.png) no-repeat;
	padding-left: 18px;
}

.post-comments-count{
	background: url(/icons/18.png) no-repeat;
	padding-left: 18px;
}

.post-edit{
	background: url(/icons/71.png) no-repeat;
	padding-left: 18px;
}

.post a {
	text-decoration: none;
}

.post a:hover {
	text-decoration: underline;
}
#paginate {
	margin-left: 220px;
	font-size: 9px;
}
#paginate a {
	text-decoration: none;
	color: #000;
}

#right-bar {
	text-align: center;	
	width: 200px;
	float: right;	
	display: block;
	margin-right: 10px;
	margin-top: 10px;
}

#right-bar2 {
	text-align: center;
	width: 200px;
	height: 500px;
	float: right;
	display: block;
	margin-right: 10px;
	margin-top: 10px;
}

#power-by {	
	background: #fff7d7;
	border: 2px solid #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px; 
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px; 
	-webkit-border-top-right-radius: 8px 8px;
}

.widget-content {
	padding: 5px;
	font-size: 10px;
	font-family: Tahoma;
}

.widget-title {	
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	padding-left: 5px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-top-left-radius: 6px 6px; 
	-webkit-border-top-right-radius: 6px 6px;
}

#widget-site-link {
	background-color: #4e9a06;
}

#widget-power-by {
	background: #ffcc66;
}

#widget-feature-list{
	background-color: #5c3566;
}

#widget-tags-cloud {
	background-color: #204a87;
}

#widget-right-top {
	background-color: #8f5902;
}

#widget-comment-form {
	background-color: #4e9a06;
}

#gae-icon{
	padding-bottom: 7px;
}

#user-admin {
	background-color: #666677;
	padding: 5px;
	margin-bottom: 20px;
	font-size: 10px;	
	color: #fff;
	border: 2px solid #fff;
}

#user-admin a {
	color: #fff;
}

#about-site {
	background-color: #ddf8cc;
	margin-bottom: 10px;
	font-size: 9px;
}

#site-link {
	background-color: #ddf8cc;
	margin-bottom: 10px;
	border: 2px solid #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px; 
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px; 
	-webkit-border-top-right-radius: 8px 8px;
}

.feature-span {
	margin-left: 5px;
}

#feature-list-all {
	background-color :#ad7fa8;
	margin-bottom: 10px;
	border: 2px solid #fff;
	color: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px; 
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px; 
	-webkit-border-top-right-radius: 8px 8px;
}


#site-link a{
	text-decoration: none;
	font-size: 11px;
}

#site-link li {
	margin-bottom:5px;	
	background: url(/icons/23.png) no-repeat;
	padding-left: 20px;
}

#site-link li:hover {
	background-color: #b5edbc;
}

#sider-bar {
	width: 430px;
	float: right;
}

#right-top {
	width: 405px;
	height: auto;
	border: 2px solid #fff;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #e9b96e;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px; 
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px; 
	-webkit-border-top-right-radius: 8px 8px;
}

#right-bar ul {
	display: inline;
	margin: 0;
	padding: 0;
}

#right-bar li {
	line-height: 150%;
	text-align: left;	
	list-style-type: none;	
}



.feature-list{
	text-align: left;
}

#comments-comment {
	width: 200px;
	float: right;
	text-align: left;
	
}

#comments {
	margin-bottom: 20px;
	background-color: #fff7d7;
	border:2px solid #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px; 
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px; 
	-webkit-border-top-right-radius: 8px 8px;
}

#comments-form {
	font-size: 10px;
	background-color: #ddf8cc;
	border:2px solid #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px; 
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px; 
	-webkit-border-top-right-radius: 8px 8px;
}

#comments-form li {
	list-style-type:none;
}

#widget-recent-comment {
	background-color: #eb9000;
}

.comment-content {
	padding-top: 3px;
	padding-left: 10px;
	font-size: 11px;
}

.comment-info {
	font-size: 9px;	
	color: #666;
	padding-top: 1px;
	padding-left: 10px;
	padding-bottom: 2px;
	background-color: #ffcc66;
}

img {
	border-width: 0;
}

#tags_cloud {
	background-color: #3465a4;
	margin-bottom: 10px;
	border: 2px solid #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px; 
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px; 
	-webkit-border-top-right-radius: 8px 8px;
}

#tags_cloud a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#tags_cloud a:hover {
	color: #729fcf;
}

.tag-link {
	line-height:20px;
	background-color: #729fcf;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
	padding:1px 4px 1px 4px;
}

.tag-link:hover {
	background-color: #204a87;
}

#id_comments_content {
	width: 190px;
	font-family: 'Trebuchet MS','Microsoft YaHei';
}

#id_comments_author { 
	width: 190px;
	font-size: 10px;
	font-family: Tahoma,Consolas;
}

#id_comments_author_url {
	width: 190px;
	font-size: 10px; 
	font-family: Tahoma,Consolas;
}

.comment-author a { 
	text-decoration:none;
}
.comment-author a:hover {
	text-decoration: underline;
}
