body {
	margin: 0; 
	padding: 0;
	background-color: #4d5061;
	padding: 20px;
	font-family: Tahoma, Georgia, Verdana;
}

pre.prettyprint{
	font-size: 11px;
	line-height: 14px;
	border-left: 3px solid #7755aa;
	background-color: #eeeeff;
	font-family: Courier New, Lucida Console, Consolas, Courier;
	overflow: auto;
}

.error_me {
	color: #fff;
	font-size: 18px;
	text-align: center;
}


blockquote {
	font-size: 11px;
	border-left: 3px solid #58bf2f;
	background-color: #eeffee;
	padding: 5px;
	margin: 10px;
	font-family: Georgia,Tahoma,Verdana;
}


#text_quo {
	font-size: 11px;
	margin-top: 0px;
	color: #999;
	font-style: italic;
}

#header {
	height: 100px;
	text-align: center;
	font-size: 100%;
	background-color: #000;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
/*	background-image: url(/icons/top.gif);    */

}


#header img{
	padding: 0;
	margin: 0;
}

#nav {
	width: 100%;
	float: left;
	background-color: #000;
}
#article-list {
	margin: 0px;
	padding: 0px;
	margin-left: 15px;
}

#article-list li{
	float: left;
	list-style: none;
	padding: 0px 5px 0px 5px;
	margin-right: 5px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
}

#article-list a {
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	font-family: georgia, "times new roman", times, serif;
	color: #555753;
}

#article-list li:hover {
	background-color: #fff;
	color: 	#213436;
}

.current-page {
	background-color: #fff;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;

}
.not-current-page {
	background-color: #999;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

#blog-title a{
	text-decoration: none;
	color: #fff;
	font-family: georgia, "times new roman", times, serif;
	font-weight: bold;
	font-size: 16px;
}

#blog-title {
	text-align: center;
	clear:both;
	margin-top: 0px;
	padding-top: 15px;
	margin-bottom: 0px;
}

#header-title a {
	font-weight: bold;
}

#header a:hover {
	color: #3399ff;
}

#main_bar {
	padding-top: 15px;
	width: 600px;
	float: left;
}

.post {
	text-align: left;
	margin-bottom: 20px;
/*	border: 1px solid #a4c5ff;   */
}

.post img {
	margin: 4px;
}

#container {
	width: 960px;	
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 2px solid #000;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-bottom-left-radius: 10px 10px; 
	-webkit-border-bottom-right-radius: 10px 10px;
	-webkit-border-top-left-radius: 10px 10px; 
	-webkit-border-top-right-radius: 10px 10px;

}

#bottom {
	text-align: center;
	color: #999;
	height: 100px;
	clear: both;
	
	font-family: georgia, "times new roman", times, serif;
}

#bottom h4 {
	padding-top: 40px;
	font-size: 11px;
}

.post-title {
	font-weight: bolder;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;	
	font-family: georgia, "times new roman", times, serif;
}

.post-title a {
	color: #000;
}

.post-title a:visited {
	color:  #4c4c4c;
}

a:visited {
	color: #3399ff;
}
.post-content {
	padding: 10px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.5px;
}

.post-tags a{
	font-size: 10px;
	text-decoration: none;
}

.post-tags a:hover{
	color: #729fcf;
	
}

.post-info {
	font-size: 10px;
	padding-left: 10px;
	padding-top: 4px;
	font-family: georgia, "times new roman", times, serif;
}

.post-time {
	background: url(/icons/25.png) no-repeat;
	padding: 1px 0px 2px 18px;
}

.post-author {
	background: url(/icons/37.png) no-repeat;
	padding: 1px 0px 2px 18px;
}

.post-comments-count{
	background: url(/icons/47.png) no-repeat;
	padding: 1px 0px 2px 18px;
}

.post-tags-main {
	background: url(/icons/39.png) no-repeat;
	padding: 1px 0px 2px 18px;
}

.post-edit{
	background: url(/icons/71.png) no-repeat;
	padding: 1px 0px 2px 18px;
}

.post a {
	text-decoration: none;
}

.post a:hover {
	text-decoration: underline;
}
#paginate {
	margin-left: 100px;
	height: 25px;
	width: 400px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	font-family: georgia, "times new roman", times, serif;
}
#paginate a {
	text-decoration: none;
	color: #fff;
}
#paginate a:hover {
	text-decoration: underline;
}
.paginate-button {
	border: 2px solid #fff;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-bottom-left-radius: 4px 4px; 
	-webkit-border-bottom-right-radius: 4px 4px;
	-webkit-border-top-left-radius: 4px 4px; 
	-webkit-border-top-right-radius: 4px 4px;
}


#next {
	background: #729fcf url(/icons/1.png) no-repeat;
	background-position: right;
	padding: 1px 25px 1px 5px;
	float: right;
}
#prev {
	background: #729fcf url(/icons/2.png) no-repeat;
	padding: 1px 5px 1px 25px;
	float: left;
}
#center-page {
	width: 100px;
}
#right-bar1 {
	text-align: center;	
	width: 160px;
	float: right;	
	display: block;
	margin-right: 10px;
	margin-top: 10px;
}

#right-bar2 {
	text-align: center;
	width: 160px;
	height: 500px;
	float: right;
	display: block;
	margin-right: 10px;
	margin-top: 10px;
}

#power-by {	
	background: #fff7d7;
}
#tags-cloud {
	background-color: #3465a4;
}
.widget-w {
	width: 338px;
}
.widget {
	width: 160px;
	margin-bottom: 5px;
}

.widget-content {
	padding: 5px;
	font-size: 10px;
	font-family: georgia, "times new roman", times, serif;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px; 
	-webkit-border-bottom-right-radius: 5px 5px;
}

.widget-title {
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding: 2px 5px 2px 5px;
	font-family: georgia, "times new roman", times, serif;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-top-left-radius: 5px 5px; 
	-webkit-border-top-right-radius: 5px 5px;
}

#widget-site-link {
	background-color: #4e9a06;
}

#widget-favorite-list {
	background-color: #8f5902;
}

#widget-power-by {
	background: #f57900;
}

#widget-feature-list{
	background-color: #5c3566;
}

#widget-tags-cloud {
	background-color: #204a87;
}

#widget-right-top {
	background-color: #fff;
}

#widget-comment-form {
	background-color: #4e9a06;
}

#gae-icon{
	padding-bottom: 7px;
}

#user-admin {
	background-color: #666677;
	padding: 5px;
	margin-bottom: 20px;
	font-size: 10px;	
	color: #fff;
	border: 2px solid #fff;
}

#user-admin a {
	color: #fff;
}

#about-site {
	background-color: #ddf8cc;
	margin-bottom: 10px;
	font-size: 9px;
}

#site-link {
	background-color: #ddf8cc;
}

#feature-link {
	background-color: #e9b96e;
}

#site-link a{
	text-decoration: none;
	font-size: 11px;
}

#feature-link a{
	color: #8f5902;
	text-decoration: none;
	font-size: 11px;
}

#site-link ul {
	margin-left: 20px;
}

#site-link li {
	maring-top: 2px;
	margin-bottom: 2px;
	padding: 1px;
	background: url(/icons/23.png) no-repeat;
	padding-left: 20px;
	text-align: left;
}

#feature-link ul {
	margin-left: 20px;
}

#feature-link li {
	maring-top: 2px;
	margin-bottom: 2px;
	padding: 1px;
	background: url(/icons/48.png) no-repeat;
	padding-left: 20px;
	
}

#site-link li:hover {
	background-color: #b5edbc;
}

#feature-link li:hover {
	background-color: #ffcc66;
}

#sider-bar {
	width: 345px;
	float: right;
	padding-top: 10px;
}

#right-top {
	width: 335px;
}

#right-bar1 ul {
	display: inline;
	margin: 0;
	padding: 0;
}

#right-bar1 li {
	line-height: 150%;
	text-align: left;
	list-style-type: none;
	font-family: georgia, "times new roman", times, serif;
}

#right-bar2 ul {
	display: inline;
	margin: 0;
	padding: 0;
}

#right-bar2 li {
	line-height: 150%;
	text-align: left;
	list-style-type: none;
	font-family: georgia, "times new roman", times, serif;
}



.feature-list{
	text-align: left;
}
.arrow {
	width:15px;
	height: 32px;
	background: url(/icons/arrow.png) no-repeat;
	float: left;
}
#comments {
	font-family: Tahoma;	
	margin-left: 15px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-bottom-left-radius: 4px 4px; 
	-webkit-border-bottom-right-radius: 4px 4px;
	-webkit-border-top-left-radius: 4px 4px; 
	-webkit-border-top-right-radius: 4px 4px;
}
.comment-content {
	margin-left: 50px;
	background-color: #ad7fa8;
	padding: 5px;
	font-size: 11px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-bottom-left-radius: 4px 4px; 
	-webkit-border-bottom-right-radius: 4px 4px;
	-webkit-border-top-left-radius: 4px 4px; 
	-webkit-border-top-right-radius: 4px 4px;
}
.comment {
	margin-bottom: 3px;
	padding: 3px;
}
.icon {
	float :left;
	width: 32px;
	height: 32px;
	padding: 1px;
	border: 1px solid #666;
	background-color: #fff;
}
.comment-info {
	font-weight: bold;
	font-size: 10px;
	background-color: #75507b;
	padding: 3px;
	color: #000;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-bottom-left-radius: 4px 4px; 
	-webkit-border-bottom-right-radius: 4px 4px;
	-webkit-border-top-left-radius: 4px 4px; 
	-webkit-border-top-right-radius: 4px 4px;
}
.each-comment-content {
	padding: 3px;
}

#comments-comment {
	width: 500px;
}

#comments-form {
	width: 430px;
	font-size: 10px;
	margin-left: 67px;
	background-color: #ddf8cc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px; 
	-webkit-border-bottom-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px; 
	-webkit-border-top-right-radius: 5px 5px;
}
#comments-form > form {
	padding: 5px;
}

#comments-form li {
	list-style-type:none;
	font-family: georgia, "times new roman", times, serif;
	font-size: 10px;
}

#widget-recent-comment {
	background-color: #8f5902;
}

img {
	border-width: 0;
}


.tag-link a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	font-family: georgia, "times new roman", times, serif;
}

.tag-link a:hover {
	color: #729fcf;
}

.tag-link {
	line-height:20px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
	padding:1px 2px 1px 2px;
	text-decoration: none;
}

.tag-link:hover {
	background-color: #204a87;
	
}


#id_comments_content {
	width: 380px;
	font-family: 'Trebuchet MS','Microsoft YaHei';
}

#id_comments_author { 
	width: 380px;
	font-size: 10px;
	font-family: Tahoma,Consolas;
}

#id_comments_author_url {
	width: 380px;
	font-size: 10px; 
	font-family: Tahoma,Consolas;
}

.comment-author a { 
	text-decoration:none;
}
.comment-author a:hover {
	text-decoration: underline;
}
.img-frame {
	padding: 1px;
	border: 1px solid #888a85;
	background-color: #fff;
}