<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
 <title>JIEblog-admin</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

 <link type="text/css" rel="stylesheet" href="/stylesheets/css.css" />
{% block title %}{% endblock %}


</head>
<body class="yui-skin-sam">
	<div id="base-title"><h3><a href='/'>JIEblog-Admin</a></h3></div>
	<div id="container">	
	{% block contents %}{% endblock %}
	</div>
</body>
</html>

