{% extends 'admin-base.html' %}
{% load filter %}

{% block contents %}
<div id="header">
		<ul id="menu">
			<li class='page_li'><a href="/login">Login</a></li>
			<li class='page_li'><a href="/list">Post List</a></li>
			<li class='page_li'><a href="/create">New Post</a></li>
			<li class='current_page_li'><a href="/setupdb">Site Config</a></li>
		<ul>
</div>
<div id="main">
<div class='box'>
	<div class='admin-widget'>
	<form method="post" action="#" id="config_form" name="config">
		{{configform.as_p}}
		<input type="submit" name="submit" value="提交" id="submit"/>
	</form>
	</div>
	<div class='adminwidget'>
	<form action="." method="post">
		{{sitelinkform.as_p}}
	<input type="submit" name="createlink" value="createlink" />
	<input type="reset" name="reset" value="Reset" />
	</form>
	</div>
</div>
{% endblock%}
