<html>
	<head>
		<title>blzinsider uploader</title>
		<style type="text/css">
<!--
img { border:none; }
#footer { margin-top: 1em; }
#filelist { margin: 1em 0.5em; }
#filelist th { background-color: #E5ECF9; }
#filelist th, #filelist td { padding: 2px; }
.even { background-color: #EEE; }
-->
		</style>
	</head>
	<body>
{{greeting}}
<form action="" enctype="multipart/form-data" method="post">
			<div><input type="file" name="img"/></div>
			<div><input type="submit" value="upload"></div>
</form>

	<table id="filelist">
	  <tr>
		<th>No.</th>
		<th>ID</th>
		<th>File</th>
		<th>Size</th>
		<th>Date(UTC)</th>
		<th>Mime</th>
		<th>Delete</th>
	  </tr>
	  {% for file in userfiles %}
		<tr class="{% cycle odd,even %}">
		  <td>{{ forloop.counter }}</td>
		  <td>{{ file.key.id }}</td>
		  <td><a href="/file/{{ file.key }}">{{ file.filename|escape }}</a></td>
		  <td>{{ file.size|filesizeformat }}</td>
		  <td>{{ file.date_added }}</td>
		  <td>{{ file.content_type|escape }}</td>
		  <td>{% ifequal user file.owner %}<a href="/delete/{{ file.key }}">Delete</a>{% endifequal %}</td>
		</tr>
	  {% endfor %}
	</table>
</body>