<div id="header">

	<h3 id="blog-title">
		<a href="/">JIEblog</a>
	</h3>
		
	<div id='text_quo'>
		A memorandum of Geek
	</div>

</div>

<div id="nav">
		<ul id='article-list'>
			<li class="current-page "><a href='/' title='Home'>Home</a></li>
			<li class="not-current-page">{{greeting}}</li>
			{% if articles %}
			{% for article in articles %}
			<li class="not-current-page"><a href='/post/{{article.get_absolute_url}}'>{{article.title}}</a></li>
			{% endfor %}
			{% endif%}			
			<li class="not-current-page"><a href='/feeds' title='RSS'>RSS</a></li>			
		</ul>
</div>
