<div id="header">
	<div id='article-list'>
		<ul>
			<li>{{greeting}}</li>
		{% if articles %}
		{% for article in articles %}
			<li><a href='/post/{{article.get_absolute_url}}'>{{article.title}}</a></li>
		{% endfor %}
		{% endif%}
			<li><a href='http://meja.blzinsider.cn' title='meja'>Meja</a></li>
			<li><a href='/feeds' title='RSS'>RSS</a></li>
		</ul>
	</div>
	
	<div id="header-title">
		<div id="blog-title">
			<a href="/">JIEblog</a></div>
		<div id='text_quo'>A memorandum of Geek</div>
	</div>
</div>
