{% extends 'base.html' %}

{% block contents %}

	<div class="container">
			{% include 'header.html' %}
			
			{% include 'right_bar.html' %}

			{% for post in posts %}
				{% include 'post.html' %}	
			{% endfor %}

		<div id="paginate">
			{% if show_page_panel %}
			
				{% if show_prev %}
					<a href="/page/{{ prev }}">
						<span id="prev" class="paginate-button">PREV</span>
					</a>
				{% endif %}
	
				{% if show_prev or show_next %}
					{{  current_page }}
				{% endif %}
			
				{% if show_next %}
					<a href="/page/{{ next }}">
						<span id="next" class="paginate-button">NEXT</span>
					</a>
				{% endif %}
				
			{% endif %}
		</div>
		
		{% include 'bottom.html' %}
	</div>
{% endblock %}
